*{
    margin: 0;
    padding: 0;
}

.home{
    height: 2400px;
    width: 100%;
    background-image: url("nagy-arnold-X_IvVDuHvDQ-unsplash\ 2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -125px;
}


.logo-img{
    margin-top: 160px;
}

.navbar{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
    font-family:  cursive;
    font-weight: normal;
}
.nav-links{
    margin-top: 175px;
    margin-left: 10rem;
    list-style: none;
    display: flex;
    gap: 25px;
}
.icon{
    margin-top: 175px;
    padding-left: 35px;
}
.search-img{
    margin-left: 17rem;
}
.line2-img{
    padding-bottom: 3px;
    margin-left: 42px;
}
.hero{
    display: flex;
}
.earth-exhale{
    height: 220px;
    margin-top: 100px;
    margin-left: 40px;
}
.card{
    opacity: 0.85;
    height: 550px;
    margin-left: 10rem;
    margin-top: 48px;
    
    display: block;
}
.container{
    position: relative;
    width: 300px;      
}
.img-top {
    position: absolute;
    top: -120px; 
    left: 130px;        /* kitna side rakhna h */
    width: 500px;      /* small image size */
    opacity: 0.9;      /* optional transparency */
}
.card-text {
    position: absolute;
    bottom: 120px;          /* text card ke niche se upar aa jayega */
    left: 250px;            /* thoda side */
    color: white;
}
.buy-btn{
    font-size: 1rem;
    width: 80px;
    border: 1px white solid;
    border-radius: 3px;
    padding-left: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
}
@media (max-width: 540px) {
  .home {
    width: 100%;
    height: 100vh;
    margin-top: 0;
  }
  .logo-img{
    margin-top: 20px;
    height: 25px;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
.nav-links{
    margin-top: 20px;
    margin-left: 2.3rem;
    list-style: none;
    display: flex;
    gap: 5px;
}
.icon{
        margin-top: 23px;
        padding-left: 1rem;
    }
    .search-img{
        margin-left: 0.6rem;
        height: 0.8rem;
    }
    .bag-img{
        height: 0.8rem;
    }
    .line1-img{
        margin-right: 1px;
        padding-bottom: 6px;
        height: 1.8px;
    }
    .line2-img{
        padding-bottom: 14px;
        margin-left: 1.2rem;
        height: 1.8px;
    }
    .earth-exhale{
        height: 70px;
        margin-top: 25px;
        margin-left: 20px;
    }
    .card{
        opacity: 0.85;
        margin-left: 2rem;
        height: 135px;
        margin-top: 20px;
    }
    .container {
        width: 100%;
    }

    .img-top {
        top: -40px;           /* mobile par overlap thoda kam */
        left: 85px;            /* center me */
        transform: translateX(-50%);
        width: 150px;         /* small image size */
        opacity: 0.95;
    }
    .card-text {
        position: absolute;
        bottom: 6px;          /* text card ke niche se upar aa jayega */
        left: 50px;            /* thoda side */
        color: white;
    }
    .buy-btn{
        margin-top: 1px;
        font-size: 7px;
        width: 30px;
        border: 1px white solid;
        border-radius: 2px;
        padding-left: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .plant-type{
        font-size: 7px;
    }
    .plant-name{
        font-size: 10px;
    }
}
@media (min-width: 541px) and (max-width: 768px) {
    .home {
        width: 100%;
        height: 1400px; 
    }
  .logo-img{
        margin-top: 163px;
        height: 45px;
    }
   a{
        text-decoration: none;
        color: white;
        font-size: 10px;
    }
    .nav-links{
        margin-top: 165px;
        margin-left: 5rem;
        list-style: none;
        display: flex;
        gap: 10px;
    }
    .icon{
        margin-top: 10rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .search-img{
        margin-left: 5rem;
        
    }
    .line1-img{
        margin-right: 2rem;
    }
    .line2-img{
        padding-bottom: 4px;
        margin-left: 1.4rem;
    }
    .earth-exhale{
        height: 120px;
        margin-top: 50px;
        margin-left: 25px;
    }
    .card{
        opacity: 0.85;
        margin-left: 8rem;
        height: 250px;
        margin-top: 30px;
    }
    .container {
        width: 100%;
    }

    .img-top {
        top: -60px;           /* mobile par overlap thoda kam */
        left: 227px;            /* center me */
        transform: translateX(-50%);
        width: 270px;         /* small image size */
        opacity: 0.95;
    }
    .card-text {
        position: absolute;
        bottom: 28px;          /* text card ke niche se upar aa jayega */
        left: 89px;            /* thoda side */
        color: white;
    }
    .buy-btn{
        margin-top: 1px;
        font-size: 10px;
        width: 50px;
        border: 1px white solid;
        border-radius: 2px;
        padding-left: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .plant-type{
        font-size: 15px;
    }
    .plant-name{
        font-size: 18px;
    }
}
@media (min-width: 769px) and (max-width: 1299px){
    .home {
        width: 100%;
        height: 2592px;
    }
    .logo img{
        margin-top: 3rem;
        height: 50px;
        margin-left: 1.5rem;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .nav-links{
        margin-top: 175px;
        margin-left: 7rem;
        list-style: none;
        display: flex;
        gap: 20px;
    }
    .icon{
        margin-top: 11rem;
        padding-left: 1.2rem;
        padding-right: 0.1rem;
    }
    .search-img{
        margin-left: 3rem;
        
    }
    .line1-img{
        margin-right: 2rem;
    }
    .line2-img{
        padding-bottom: 4px;
        margin-left: 1.5rem;
    }
    .earth-exhale{
        height: 160px;
        margin-top: 100px;
        margin-left: 28px;
    }
    .card{
        opacity: 0.80;
        margin-left: 2rem;
        height: 350px;
        margin-top: 50px;
    }
    .container {
        width: 100%;
    }

    .img-top {
        top: -60px;           
        left: 170px;           
        transform: translateX(-50%);
        width: 320px;         
        opacity: 0.95;
    }
}
@media (min-width: 1300px) and (max-width: 1400px){
    .home {
        width: 100%;
        height: 2592px;
    }
    .logo img{
        margin-top: 3rem;
        height: 50px;
        margin-left: 1.5rem;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .nav-links{
        margin-top: 175px;
        margin-left: 15rem;
        list-style: none;
        display: flex;
        gap: 30px;
    }
    .icon{
        margin-top: 11rem;
        padding-left: 2.18rem;
    }
    .search-img{
        margin-left: 17rem;
    }
    .line2-img{
        padding-bottom: 4px;
        margin-left: 2.625rem;
    }
}